# Unity folders and files
1-ButtonJam/[Aa]ssets/AssetStoreTools*
1-ButtonJam/[Bb]uild/
1-ButtonJam/[Ll]ibrary/
1-ButtonJam/[Ll]ocal[Cc]ache/
1-ButtonJam/[Oo]bj/
1-ButtonJam/[Tt]emp/
1-ButtonJam/[Uu]nityGenerated/

# DOTween specific
1-ButtonJam/[Aa]ssets/Plugins/Demigiant/*
1-ButtonJam/[Aa]ssets/DOTween/*
1-ButtonJam/[Aa]ssets/Resources/DOTweenSettings.asset
1-ButtonJam/[Aa]ssets/Plugins/Demigiant.meta
1-ButtonJam/[Aa]ssets/DOTween.meta
1-ButtonJam/[Aa]ssets/Resources/DOTweenSettings.asset.meta
1-ButtonJam/[Aa]ssets/Plugins/*
1-ButtonJam/[Aa]ssets/Plugins.meta

# TextMesh Pro (if you want to ignore it)
1-ButtonJam/[Aa]ssets/TextMesh Pro/*
1-ButtonJam/[Aa]ssets/TextMesh Pro.meta

# Logs
1-ButtonJam/[Ll]ogs/
